h1{
    margin-bottom: 32px;
}

.product1{
    display: grid;
    grid-template-columns:52% 42%;
    grid-gap:6%;
    overflow: hidden;
    margin-bottom: 90px;
}
.swiper-imgs{
    text-align:center;
    padding-bottom:10px;
}
.swiper-imgs h2{
    font-weight: normal;
    margin-bottom: 10px;
}
.product1-img img{
    width: 100%;
}
.product1 .product1-info{
    border-bottom: 1px solid #e5e5e5;
}
.product-imgs{
    display:grid;
    grid-template-columns: 28% 28% 28%;
    grid-column-gap:8%;
    overflow: hidden;
    margin-bottom: 50px;
}
.swiper-imgs div,.product-imgs div{
    font-size: 20px;
    color:#4a4a4a;
    text-align: center;
    padding:20px 0;
}
.swiper-imgs div{
    padding:0;
}
.product-imgs img{
    display: block;
    width: 100%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next,
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    width: 30px;
    height: 30px;
    background-image: none;
}
.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    transform: translate(-50% ,-100%);
}
@media screen and (max-width: 767px){
    h1{
        text-align: center;
        margin-top:50px;
        margin-bottom: 0;
    }
    .product1{
        /*text-align: center;*/
        padding:5%;
        grid-template-columns:100%;
        justify-items: center;
        margin-bottom:30px;

    }
}